<ion-view>
    <ion-nav-bar class="bar-stable">
        <ion-nav-title>Pesquisar</ion-nav-title>
        <ion-nav-back-button>Voltar</ion-nav-back-button>  
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-nav-bar>

    <ion-content class="has-header">
        <label class="item item-input">
            <i class = "icon ion-ios-search placeholder-icon"></i>
            <input ng-model="search.nome" type="text" placeholder="Pesquisa por nome ..." autofocus>
        </label>
        <ion-list>
            <ion-item ng-repeat="pessoa in pessoas | filter:search | limitTo: perTab"
                ui-sref="menu.detalhar({codigo:pessoa.codigo})">
                {{pessoa.nome}} {{pessoa.sobrenome}}
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="perTab <= total" on-infinite="atualizar()"></ion-infinite-scroll>
    </ion-content>
</ion-view>